<%- include('partials/head')%>
<body>
  <%- include('partials/navbar')%>
  <div class="container m-2">
    <h2>Home Page</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro esse at
      tempore nostrum maxime architecto, facilis veritatis nihil totam nemo sit
      odit unde cupiditate, tenetur illo. Delectus earum vitae soluta.
    </p>
  </div>
</body>
