<%- include('partials/head')%>
<body>
  <%- include('partials/navbar')%>
  <div class="container mt-2">
    <h2>No inspiration</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloremque
      perferendis blanditiis ad maxime pariatur non tenetur rem aliquam iure
      labore, accusantium commodi delectus molestiae error reiciendis beatae?
      Corrupti, aperiam?
    </p>
    <P>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
      numquam quia enim eaque! Fuga cupiditate consequatur eum sint fugiat iure
      corporis odit, provident quidem dolores aspernatur enim similique iusto.
    </P>
  </div>
</body>
